
#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

}



#periodForm {
  justify-content: left;
  border-radius: 5px;
  background-color: rgb(255, 182, 180);
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  width:96.85%;
}

.navbar-left {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}


.navbar-left a {
  color: #fff;
  text-decoration: none;
  color:azure;
}

.navbar-right a {
  color: #fff;
  text-decoration: none;
  color:azure;
  margin-right:3em;
}