
#center {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}



#periodForm {
  justify-content: left;
  border-radius: 5px;
  background-color: rgb(255, 182, 180);
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  width:96.85%;
}

.navbar-left {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}


.navbar-left a {
  color: #fff;
  text-decoration: none;
  color:azure;
}

.navbar-right a {
  color: #fff;
  text-decoration: none;
  color:azure;
  margin-right:3em;
}

.periodRecord {
  display: center;
  background-color: purple;
}

.allRecords {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cycle {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color:blue;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.period {
  gap: 1rem;
  overflow-x: auto;
  background-color:pink;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 25px;
  width: 200px;
  min-height: 180px;
  box-sizing: border-box;
  width: 100%;
  box-sizing: border-box;
}

.period p {
  margin-left: 10px;
}

.date {
  color: blue;
  background-color: white;
  border-radius: 0.5em;
  padding: 5px;
  text-align: center;

}
