html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #732A58;  
  font-family: 'Noto Sans KR';

}

h1, .date, .navbar-left, .symptomsTitle, button {
  font-family: "Cherry Bomb One";
  color: #F36EC0;
}



* {
  box-sizing: border-box;
}


#center {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}


#periodForm {
  justify-content: left;
  border-radius: 5px;
  background-color: rgb(255, 182, 180);
  gap: 1rem;
  background-color: #f4add9;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  border-radius: 5px;

}

#logForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#logForm input,
#logForm select {
  width: 100%;
  box-sizing: border-box;
  padding: 0.7rem;
  border: 1px solid #f8e4e6;
  border-radius: 8px;
  background-color: white;
  color: #333;
  font-size: 1rem;
  font-family: "Noto Sans KR";
  background-color: #facde0;
  color:#732A58;

}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #f4add9;
  padding: 1rem;
  color: #F36EC0;

}

#logForm input:focus,
#logForm select:focus {
  outline: none;
  border-color: #c65c70;
  box-shadow: 0 0 0 3px rgba(198, 92, 112, 0.15);
}






.navbar-left {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}


.navbar-left a {
  text-decoration: none;
  color:azure;
}

.navbar-right a {
  text-decoration: none;
  color:azure;
  margin-right:3em;
}


.allRecords {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cycle {
  background-color: #f4add9;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color:f4add9;
  margin-left: 10em;
  margin-right: 10em;
  padding: 1em;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.period {
  gap: 1rem;
  overflow-x: auto;
  background-color: #facde0;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 25px;
  width: 200px;
  min-height: 180px;
  box-sizing: border-box;
  width: 100%;
  box-sizing: border-box;
}

.period p {
  margin-left: 10px;
}

.date {
  background-color: f8e4e6;
  border-radius: 0.5em;
  padding: 5px;
  text-align: center;

}

.title {
  font-size: 100px;
  margin-top: 75px;
}

.dateInput {
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 0.7rem;
  border: 1px solid #f8e4e6;
  border-radius: 8px;
  background-color: #facde0;
  color: #333;
  font-size: 1rem;
  font-family: "Noto Sans KR";
}

button {
  width: 10em;  
  font-size: 25px;
  border-radius: 10px;
  background-color: #facde0;

}

.logSubmit {
  place-content: center;
  place-items: center;
  margin-top: -40px;
}